{% extends "base.html" %}

{% block content %}

<div class="mt-3">

  <div class="col mb-3">
    <a href="{% url 'coupons_list_url' %}">
      <button type="submit" class="btn btn-warning btn-lg shadow">КНОПКА НАЗАД</button>
    </a>
  </div>


  <h1>COUPON</h1>

  <div class="card shadow">
    <div class="card-header">
      <h1>Title: {{ coupon.name }}</h1>
    </div>
    <div class="card-body">
      <p><strong>Discount:</strong> {{ coupon.discount }}%</p>
      <strong>Description:</strong>
      <p>
        {{ coupon.description }}
      </p>
    </div>
    <div class="card-footer">
    </div>
  </div>


  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col">
        <a href="{{ coupon.get_update_url }}">
          <button type="submit" class="btn btn-success btn-lg shadow">КНОПКА РЕДАКТИРОВАТЬ</button>
        </a>
      </div>
      <div class="col">
        <a href="{{ coupon.get_delete_url }}">
          <button type="submit" class="btn btn-danger btn-lg shadow">КНОПКА УДАЛИТЬ</button>
        </a>
      </div>
    </div>
  </div>

</div>

{% endblock %}