{% extends "base.html" %}

{% block search_area %}
  <form class="form-inline my-2 my-lg-0" action="{% url 'coupons_list_url' %}">
    <input class="form-control mr-sm-2" type="search" placeholder="Поиск по купонам" aria-label="Search" name="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
{% endblock %}

{% block content %}

<h1>coupon List</h1>

{% if coupons %}
<ul>
  <div class="container">
    <div class="row mb-lg-4">

      {% for coupon in coupons %}

      <div class="col mb-lg-4">
        <div class="card shadow" style="width: 16rem;">
          <a href="{{ coupon.get_absolute_url }}">
            <div class="card-body">
              <!-- <img src="{{ coupon.get_image_url }}"
                class="card-img-top mb-4" style="height: 200px; width: 150px; display: block; margin: auto;"> -->
              <h5 class="card-title">{{ coupon.name }}</h5>
              <p class="card-text"></p>
              <!-- <a href="{{ book.get_absolute_url }}" class="btn btn-primary">READ</a> -->
            </div>
          </a>

          <div class="card-footer">
            {{ coupon.discount }}%
          </div>

        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</ul>
{% else %}
<p>There are no coupons in the library.</p>
{% endif %}

<div class="align-items-end mb-lg-5">
  <a href="{% url 'coupon_create_form_url' %}">
    <button type="submit" class="btn btn-success btn-lg">КНОПКА ДОБАВИТЬ</button>
  </a>
</div>

{% endblock %}