{% extends "base.html" %} {% block content %}

<div class="mt-3">

    <div class="col mb-3">
        <a href="{% url 'authors_list_url' %}">
            <button type="submit" class="btn btn-warning btn-lg shadow">К списку авторов</button>
        </a>
    </div>


    <h1>Автор</h1>

    <div class="card shadow">
        <div class="card-header">
            <div class="row mt-2">
                <h1>{{ author.name }}</h1>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-5">
                    <img src="{{ author.get_image_url }}">
                </div>
                <div class="col">
                    <p><strong>Дата рождения:</strong> {{author.date_of_birth}} </p>
                </div>
            </div>
            <div class="row mt-lg-3">
                <strong>Описание:</strong>
                <p>
                    {{ author.description }}
                </p>
            </div>


            <div class="row mt-lg-3">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">

                    {% if user.is_authenticated %}

                    <form action="{% url 'add_author_to_favorites_url' %}" id="form_add_author_to_favorite">
                        {% csrf_token %}
                        <button id="button_add_author_to_favorite" class="btn btn-light" style="color: black;" type="submit" data-user="{{ user }}" data-author="{{ author }}">
                          <span class="fa fa-heart fa-lg"></span>
                        </button>
                    </form>

                    {% endif %}

                    <script>
                        var button = $('#button_add_author_to_favorite');
                        var btn_el = document.getElementById("button_add_author_to_favorite");
                        var user = button.data('user');
                        var author = button.data('author');
                        console.log('user is "' + user + '"\nauthor is "' + author + '"');
                        var data = {};
                        data.user = user;
                        data.author = author;
                        var csrf_token = $('#form_add_author_to_favorite [name="csrfmiddlewaretoken"]').val();
                        data["csrfmiddlewaretoken"] = csrf_token;

                        checkAuthorAlreadyFavorite(data);

                        $(btn_el).click(function(e) {
                            e.preventDefault();
                            console.log('кликнул по сердечку')
                                // белый -> красный
                            if (btn_el.getAttribute('class') == 'btn btn-light') {
                                console.log('белый -> красный');
                                btn_el.setAttribute('class', 'btn btn-danger');
                                console.log('click:\n');
                                console.log(data);
                                console.log('\n');
                                addAuthorToFavorite(data);
                            }
                            // красный -> белый
                            else if (btn_el.getAttribute('class') == 'btn btn-danger') {
                                console.log('красный -> белый');
                                btn_el.setAttribute('class', 'btn btn-light');
                                deleteAuthorFromFavorite(data);
                            }
                        })



                        function checkAuthorAlreadyFavorite(data) {
                            var url = 'check_author_is_favorites/';
                            $.ajax({
                                url: url,
                                type: 'GET',
                                data: data,
                                cache: true,
                                success: function(data) {
                                    console.log('GET OK');
                                    console.log(data);
                                    if (data.user) {
                                        btn_el.setAttribute('class', 'btn btn-danger');
                                    } else {
                                        btn_el.setAttribute('class', 'btn btn-light');
                                    }
                                },
                                error: function() {
                                    console.log('GET error');
                                }
                            })
                        }

                        function addAuthorToFavorite(data) {
                            console.log('addAuthorToFavorite:\n');
                            console.log(data);
                            console.log('\n');
                            var url = 'add_author_to_favorites/'
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: data,
                                cache: true,
                                success: function(data) {
                                    console.log('POST OK');
                                },
                                error: function() {
                                    console.log('POST error');
                                }
                            })
                        }

                        function deleteAuthorFromFavorite(data) {
                            console.log('deleteAuthorFromFavorite:\n');
                            console.log(data);
                            console.log('\n');
                            var url = 'delete_author_from_favorites/'
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: data,
                                cache: true,
                                success: function(data) {
                                    console.log('POST OK');
                                    console.log(data);
                                },
                                error: function() {
                                    console.log('POST error');
                                }
                            })
                        }
                    </script>

                </div>
                <div class="col">
                </div>
            </div>



        </div>
        <div class="card-footer">
            <strong>Книги:</strong> {% for book in author.books.all %}
            <li><a href=" {{ book.get_absolute_url }} "> "{{ book }}",</a></li>
            {% endfor %}
        </div>
    </div>


    {% if user.is_superuser %}

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col">
                <a href="{{ author.get_update_url }}">
                    <button type="submit" class="btn btn-success btn-lg shadow">Редактировать</button>
                </a>
            </div>
            <div class="col">
                <a href="{{ author.get_delete_url }}">
                    <button type="submit" class="btn btn-danger btn-lg shadow">Удалить</button>
                </a>
            </div>
        </div>
    </div>

    {% endif %}

</div>

{% endblock %}