{% extends "base.html" %} {% block content %}


<div class="card shadow mr-5 mb-5">
    <div class="card-header">
        <h1>Редактирование цитаты</h1>
    </div>
    <div class="card-body">

        <form class="form-group" action="{{ quote.get_update_url }}" method="post">
            {% csrf_token %} {% if form.errors %}
            <div class="alert alert-warning">
                {{ form.errors }}
            </div>
            {% endif %}

            <div class="mb-3">
                <strong>{{ form.text.label }}</strong>
                <p>{{ form.text.help_text }}</p>
                <div class="input-group mb-3">
                    {{ form.text }}
                </div>
            </div>
            <div class="mb-3">
                <strong>{{ form.slug.label }}</strong> {{ form.slug.help_text }}
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        {{ form.slug }}
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <strong>{{ form.author.label }}</strong> {{ form.author.help_text }} {{ form.author }}
            </div>
            <div class="mb-3">
                <strong>{{ form.book.label }}</strong> {{ form.book.help_text }} {{ form.book }}
            </div>
    </div>
    <div class="card-footer">
        <div align="center">
            <button type="submit" class="btn btn-success btn-lg">Готово</button>
        </div>
    </div>

    </form>
</div>


{% endblock %}