{% extends "base.html" %} {% block search_area %}
<form class="form-inline my-2 my-lg-0" action="{% url 'quotes_list_url' %}">
    <input class="form-control mr-sm-2" type="search" placeholder="Поиск по избранным цитатам" aria-label="Search" name="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
</form>
{% endblock %} {% block content %}

<h1>Избранные цитаты</h1>

{% if favoritequote_list %}
<ul>
    <div class="container">
        <div class="row mb-lg-4">

            {% for quote in favoritequote_list %}

            <div class="col mb-lg-4">
                <div class="card shadow" style="width: 16rem;">
                    <a href="{{ quote.get_absolute_url }}">
                        <div class="card-header">
                            <h5 class="card-title">Автор: {{ quote.get_author }}</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Из книги: "{{ quote.get_book }}"</p>
                        </div>
                    </a>
                    <div class="card-footer"></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</ul>
{% else %}
<p>У Вас нет избранных цитат.</p>
{% endif %} {% endblock %}